body {
    font-family: 'Bowlby One SC', cursive;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

#AppWrap {
    height: 100%;
}

.clear-fix::after {
    clear: both;
    content: '';
    display: block;
}

.selected {
    border: 4px solid #6DC0F5;
}